/* Ocultar el botón "x" por defecto */
.remove-button {
    display: none;
}

/* Mostrar el botón "x" cuando se hace hover en el list item */
.list-group-item:hover .remove-button {
    display: block;
}

body {
    background-color: white;
}
